<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    {{ include('pages/head.html.twig', { 'article': '' }) }}
    <meta charset="UTF-8" />
</head> 
<body>
    {{ include('pages/header.html.twig', { 'article': '' }) }}
    <div class="container sections-wrapper">
        <div class="row">
            {% block content %}{% endblock %}
            {{ include('pages/sidebar.html.twig', { 'article': '' }) }}
        </div><!--//row-->
    </div><!--//masonry-->
    <!-- ******FOOTER****** --> 
    {{ include('pages/footer.html.twig', { 'article': '' }) }}  
</body>
</html> 

